table {
    border: 20px solid #4f3b0f;
    background-color: #d1e08f;
    border-spacing: 8px 4px;
    padding: 6px
}
td   {
width: 33.33%;
position: relative;
background-color: #cc262c;
padding:20px ;
border: 20px;
border-collapse: collapse;
text-align: center;
        }
